/* src/styles/logoLoader.css */
.loader-screen {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-mask {
  position: relative;
  width: 200px;
  height: 200px;
}

.logo-static,
.logo-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fill-clip {
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fillUp 2.5s ease-out forwards;
}

@keyframes fillUp {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
